<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <th>id</th>
            <th>create_date</th>
            <th>phone</th>
            <th>email</th>
            <th>gdpr_consent</th>
        </thead>
        <tbody>
            {% for position in list %}
            <tr>
                <td>{{ position.id }}</td>
                <td>{{ position.create_date }}</td>
                <td>{{ position.phone }}</td>
                <td>{{ position.email }}</td>
                <td>{{ position.gdpr_consent }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>